<div id="quiz" class="section">
  <div class="section-center">
    <div class="container">
      <app-quiz #quiz [style.display]="(showQuizScreen)?'block':'none'" (finalResult)="finalResult($event)"></app-quiz>
      <app-result #result [style.display]="(showResultScreen)?'block':'none'" (showMainMenuScreen)="showMainMenuScreen($event)"></app-result>
      <div [style.display]="(showMainMenu)?'block':'none'" class="row justify-content-md-center">
        <div class="col-md-6 mx-auto">
          <div class="quiz-form">
            <div class="row">
              <div class="col-md-12">
                <div class="form-group">
                  <span class="form-label">Choose Difficulty Level</span><br>
                  <select class="form-control" [(ngModel)]="difficulty">
                    <option>Easy</option>
                    <option>Medium</option>
                    <option>Hard</option>
                  </select>
                  <span class="select-arrow"></span>
                </div>
              </div>

            </div>
            <div class="row">
              <div class="col-md-12">
                <div class="form-group">
                  <span class="form-label">Choose number of Questions</span><br>
                  <select class="form-control" [(ngModel)]="questionsLimit">
                    <option>5</option>
                    <option>10</option>
                    <option>15</option>
                    <option>20</option>
                  </select>
                  <span class="select-arrow"></span>
                </div>
              </div>
              <div class="form-btn">
                <button class="submit-btn" (click)="quizQuestions()" *ngIf="!spinner">Start quizz</button>
                <button class="submit-btn" type="button" disabled *ngIf="spinner">
                  <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                  Loading...
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>